@media screen and (max-width: 480px) {

  .sp{
    display: block;
  }


  body{
    width: 100%;
  }

  .header-menu{
    position: relative;
  }

  .menu-wrap{
    position: absolute;
    top: 64px;
    flex-direction: column;
    width: 100%;
    background-color: #eee;
    display: none;
  }

  li.header-list-parent{
    border-bottom: solid 1px #ddd;
    line-height: 44px;
    padding-left: 20px;
    position: relative;
    margin-right: 0px;
  }

  .header-list-parent i.fa-caret-down{
    position: absolute;
    line-height: 46px;
    right: 14px;
    top: 0px;
  }

  .header-list-parent a{
    font-size: 13px;
  }

  .header-icons{
    width: 100%;
  }

  .header-icons li {
      margin-right: 21px;
  }

  .header-sub-list{
    position: relative;
    display: block;
    margin-bottom: 0px;
    margin-left: -20px;
    top: unset;
    left: unset;
    box-shadow: none;
    border: none;
    display: none;
  }

  .header-sub-list li{
    width: 100%;
  }


  .header-sub-list a{
    width: 100%;
    margin: unset;
    padding-left: 40px;
    font-weight: 100;
  }

  .sp-menu-btn{
    width: 40%;
    font-size: 25px;
  }

  .search-wrap input {
      width: 90%;
      font-size: 24px;
      text-align: center;
  }

  .search-wrap input a{
    display: none;
  }

}